/* Global variables */
:root {
  --background-body: #faf8f6;
  --background-footer: #f3ede7;
  --background-just-works: #172339;
  --title-color-dark: #faf8f6;
  --text-color-dark: #f3ede7;
  --link-color-dark: #172339;
  --title-color-light: #172339;
  --text-color-light: #49566d;
  --link-color-light: #faf8f6;
}

/* Reset styles*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: var(--background-body);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header,
main,
footer {
  width: 100%;
}

.content-layout {
  min-width: 20em;
  width: 100%;
  min-height: 20em;
  height: max-content;
}

.content-layout__title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  z-index: -10;
}

/* Request Beta Access styles */
.content-layout__request-access {
  display: inline-flex;
  justify-content: center;
  border-radius: 0.375em;
  font-weight: 700;
  line-height: 1.7;
  text-transform: capitalize;
}

/* Header styles */
.header {
  margin-top: 1.5em;
}

.header__data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.header__request-access {
  width: 64%;
  max-width: 14.375em;
  padding: 0.75em 1em;
  font-size: 0.875rem;
  border: 0.0625em solid var(--text-color-light);
  color: var(--link-color-dark);
}

/* Main styles */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

/* Section styles */
.main__section {
  width: 90%;
}

/* Super solution styles */
.main__super-solution {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  grid-template-areas:
    "text"
    "img"
    "stat";
  row-gap: 3.5em;
}

.super-solution__text-container {
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}

.super-solution__title {
  position: relative;
  font-size: clamp(2.125rem, 1.17rem + 5vw, 4.5rem);
  line-height: 1.16;
  font-weight: 400;
  color: var(--title-color-light);
}

.title__strong {
  font-weight: 700;
}

.strong__curved-line {
  position: relative;
}

.strong__curved-line::after {
  content: "";
  position: absolute;
  top: -1em;
  right: 0;
  display: inline-block;
  width: 100%;
  height: 1.1875em;
  background-image: url("/public/images/svg/pattern-curved-line-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.super-solution__description {
  font-size: 1rem;
  color: var(--text-color-light);
  line-height: 1.75;
}

.super-solution__request-access {
  padding: 0.9375em 1.9375em;
  background-color: var(--link-color-dark);
  font-size: 1.125rem;
  color: var(--link-color-light);
}

.super-solution__image {
  width: 100%;
  border-radius: 0.9375em;
  object-fit: cover;
  object-position: top center;
}

.super-solution__picture {
  grid-area: img;
}

.super-solution__stat-list {
  grid-area: stat;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.super-solution__company-stats {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: var(--title-color-light);
  line-height: 1.17;
}

.company-stats__name {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.company-stats__counter {
  font-size: 3rem;
  font-weight: 700;
}
