/* Header styles */
.header {
  margin-top: 2.5em;
}

.header__request-access {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

/* Main styles */
.main {
  gap: 5.75em;
}

/* Super solution styles */
.main__super-solution {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, max-content);
  grid-template-areas:
    "text img"
    "stat stat";
  align-items: center;
}

.super-solution__text-container {
  width: 148%;
  height: max-content;
}

.super-solution__description {
  width: 70%;
}

.super-solution__image {
  width: 83%;
  object-position: bottom center;
}

.super-solution__stat-list {
  flex-direction: row;
  justify-content: space-around;
  gap: 0;
}

/* Just works styles */

.main__just-works {
  width: 90%;
  padding-top: 24em;
  margin-top: 18em;
}

.just-works__picture {
  top: -16em;
}

.just-works__picture::after {
  top: 17em;
  left: calc(50% - 11.5em);
  width: 23em;
  height: 23em;
}

/* Footer styles */
.footer {
  position: relative;
  padding: 4.5em 0;
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: -28em;
  display: inline-block;
  width: 100%;
  height: 28em;
  background-color: var(--background-footer);
}

.footer__data-container {
  flex-direction: row;
  justify-content: space-between;
}

/* Animations */
.header {
  animation: top-side 0.2s ease-in-out forwards;
}

.super-solution__title {
  animation: left-side 0.275s ease-in-out forwards;
}

.super-solution__description {
  animation: left-side 0.3s ease-in-out forwards;
}

.super-solution__request-access {
  animation: left-side 0.325s ease-in-out forwards;
}

@media screen and (width < 90em) {
  .super-solution__picture {
    animation: right-side 0.25s ease-in-out forwards;
  }
}

@media screen and (height >= 51.875em) and (width < 90em) {
  .super-solution__company-stats--companies {
    animation: top-side 0.35s ease-in-out forwards;
  }

  .super-solution__company-stats--languages {
    animation: top-side 0.375s ease-in-out forwards;
  }

  .super-solution__company-stats--leads {
    animation: top-side 0.4s ease-in-out forwards;
  }
}

@media screen and (height >= 64em) and (width < 90em) {
  .just-works__picture {
    animation: left-side 0.425s ease-in-out forwards;
  }
}

@keyframes top-side {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}
